<div class="carousel" #container>
  <div
    class="left"
    *ngIf="totalPages > 1"
    (click)="currentPage != 1 && changePage(-1 / 4)"
    [ngClass]="{ disabled: currentPage === 1 }"
  >
    <i
      class="bi bi-arrow-left"
      *ngIf="currentPage != 1"
      style="font-size: 2rem; color: #201a3d"
    ></i>
  </div>
  <div class="cards" [ngClass]="{ 'w-100': totalPages === 1 }">
    <h3 class="title">En popüler <b>Hizmetler</b></h3>
    <div
      class="overflow"
      [ngStyle]="{ width: overflowWidth, left: pagePosition }"
    >
      <!-- /*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*//*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/* -->
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let subCategory of mostPopularSubCategories; let index = index"
        [ngStyle]="{ width: cardWidth }"
        routerLink=""
      >
        <img src="{{ subCategory.imagePath }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-text text-center">{{ subCategory.name }}</h5>
            </li>
          </ul>
        </div>
      </div>
      <!-- /*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/* -->
    </div>
  </div>
  <div
    class="right"
    *ngIf="totalPages > 1 && currentPage != 2.665"
    (click)="currentPage != totalPages && changePage(+1 / 4)"
    [ngClass]="{ disabled: currentPage === totalPages }"
  >
    <i
      class="bi bi-arrow-right"
      *ngIf="currentPage != totalPages"
      style="font-size: 2rem; color: #201a3d"
    ></i>
  </div>
</div>
