<header
  class="p-3 text-white"
  style="background-color: #201a3d"
  *ngIf="!isAuthenticated"
>
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a class="navbar-brand" href="">
        <img
          src="../../../assets/images/logo-svg/koyu-zemin.svg"
          alt=""
          width="150"
          height="35"
          class="d-inline-block align-text-top"
        />
      </a>
      <div class="col-2"></div>
      <div class="col-4">
        <form>
          <div class="input-icons">
            <i class="bi bi-search"></i>
            <input
              type="search"
              (keydown.enter)="createFilter()"
              [(ngModel)]="filter.term"
              [ngModelOptions]="{ standalone: true }"
              class="form-control form-control-dark search-input-logout input-field"
              placeholder="Arama Yap..."
              aria-label="Search"
            />
          </div>
        </form>
      </div>
      <div class="col-2"></div>

      <div class="text-end d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/login"
        >
          Giriş Yap
        </button>
        <button type="button" class="btn btn-danger" routerLink="/register">
          Kayıt Ol
        </button>
      </div>
    </div>
  </div>
</header>

<!-- ********************************************************************************************************* -->

<header
  class="p-3 text-white"
  style="background-color: #201a3d"
  *ngIf="isAuthenticated"
>
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a class="navbar-brand" href="">
        <img
          src="../../../assets/images/logo-svg/koyu-zemin.svg"
          alt=""
          width="150"
          height="35"
          class="d-inline-block align-text-top"
        />
      </a>
      <div class="col-1"></div>
      <div class="col-4">
        <form>
          <div class="input-icons">
            <i class="bi bi-search"></i>
            <input
              type="search"
              (keydown.enter)="createFilter()"
              [(ngModel)]="filter.term"
              [ngModelOptions]="{ standalone: true }"
              class="form-control form-control-dark search-input-logout input-field"
              placeholder="Arama Yap..."
              aria-label="Search"
            />
          </div>
        </form>
      </div>
      <div class="col-1"></div>

      <ul
        class="nav col-12 col-lg-auto mb-2 mb-md-0"
        style="margin-left: 30px; margin-top: -5px"
      >
        <li>
          <a href="#" class="nav-link px-2 text-white"
            ><i
              class="bi bi-house"
              style="font-size: 1.5rem; margin-right: 5px"
            ></i
            >Anasayfa</a
          >
        </li>
        <li>
          <a href="#" class="nav-link px-2 text-white"
            ><i
              class="bi bi-chat-right"
              style="font-size: 1.5rem; margin-right: 5px"
            ></i
            >Mesajlar</a
          >
        </li>
      </ul>

      <div
        class="dropdown text-end"
        style="margin-left: 5px; margin-top: -10px"
      >
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle text-white mt-2"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ user.imagePath }}"
            alt="mdo"
            width="40"
            height="40"
            class="rounded-circle"
          />{{ user.name }} {{ user.surName }}
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" routerLink="/profile">Profilim</a></li>
          <li>
            <a class="dropdown-item" routerLink="/profile/settings">Hesabım</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" (click)="logout()">Çıkış Yap</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- ************************************************************************************************* -->

<nav
  class="navbar navbar-expand-lg navbar-light bg-light shadow p-2 bg-body rounded"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item dropdown" *ngFor="let topCategory of topCategories">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            routerLink="/top-categories/{{ getUrl(topCategory.name) }}"
          >
            {{ topCategory.name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li
              *ngFor="
                let subCategory of getSubCategoriesByTopCategory(topCategory.id)
              "
            >
              <a
                class="dropdown-item"
                routerLink="/sub-categories/{{ getUrl(subCategory.name) }}"
                >{{ subCategory.name }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
