<section style="min-height: 100vh">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="chat3" style="border-radius: 15px; height: 600px">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <div class="p-3">
                  <div class="input-group rounded mb-3">
                    <input
                      type="search"
                      [(ngModel)]="filterText"
                      class="form-control rounded"
                      placeholder="Arama Yap..."
                      aria-label="Search"
                      aria-describedby="search-addon"
                    />
                  </div>
                  <div class="d-flex justify-content-center">
                    <div
                      class="spinner-border"
                      role="status"
                      *ngIf="!dataLoaded"
                    >
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                  <div
                    data-mdb-perfect-scrollbar="true"
                    style="position: relative"
                  >
                    <ul
                      class="list-unstyled mb-0"
                      *ngFor="let message of messages | filter: filterText"
                    >
                      <li
                        class="p-2 border-bottom"
                        style="cursor: pointer"
                        *ngIf="selectedUserName != message.id"
                      >
                        <a
                          (click)="selectUserName(message.id)"
                          class="d-flex justify-content-between text-decoration-none"
                        >
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="avatar"
                                class="d-flex align-self-center me-3"
                                width="60"
                              />
                              <span class="badge bg-success badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">{{ message.id }}</p>
                              <!-- <p class="small text-muted">
                                Hello, Are you there?
                              </p> -->
                            </div>
                          </div>
                          <!-- <div class="pt-1">
                            <p class="small text-muted mb-1">Just now</p>
                            <span class="badge bg-danger rounded-pill float-end"
                              >3</span
                            >
                          </div> -->
                        </a>
                      </li>
                      <li
                        class="p-2 border-bottom"
                        style="
                          cursor: pointer;
                          background-color: rgba(13, 110, 253, 0.7);
                        "
                        *ngIf="selectedUserName == message.id"
                      >
                        <a
                          (click)="selectUserName(message.id)"
                          class="d-flex justify-content-between text-decoration-none text-white"
                        >
                          <div class="d-flex flex-row">
                            <div>
                              <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="avatar"
                                class="d-flex align-self-center me-3"
                                width="60"
                              />
                              <span class="badge bg-success badge-dot"></span>
                            </div>
                            <div class="pt-1">
                              <p class="fw-bold mb-0">{{ message.id }}</p>
                              <!-- <p class="small text-muted">
                                Hello, Are you there?
                              </p> -->
                            </div>
                          </div>
                          <!-- <div class="pt-1">
                            <p class="small text-muted mb-1">Just now</p>
                            <span class="badge bg-danger rounded-pill float-end"
                              >3</span
                            >
                          </div> -->
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-7 col-xl-8">
                <app-message-detail
                  *ngIf="selectedUserName"
                  [sender]="userName"
                  [receiver]="selectedUserName"
                ></app-message-detail>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
