<div class="custom-container">
  <div class="container">
    <h1 class="title">
      {{ topCategoryName }}
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="categories-side-bar">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status" *ngIf="!dataLoaded">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="link" *ngFor="let subCategory of subCategories">
          <div
            class="text"
            routerLink="/sub-categories/{{ getUrl(subCategory.name) }}"
          >
            {{ subCategory.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="d-flex justify-content-center" *ngIf="!dataLoaded">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div
          class="col"
          *ngFor="let subCategory of subCategories; let index = index"
          routerLink="/sub-categories/{{ getUrl(subCategory.name) }}"
        >
          <div class="card h-100 shadow">
            <img
              src="{{ subCategory.imagePath }}"
              class="card-img-top"
              height="200px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ subCategory.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
