<div class="card shadow" style="width: 18rem">
  <a routerLink="/adverts/{{ advert.id }}">
    <img
      src="{{ advert.imagePath }}"
      height="175px"
      class="card-img-top"
      alt="..."
    />
  </a>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="d-flex bd-highlight">
          <div class="p-2 bd-highlight">
            <h6 class="card-title">
              <a
                routerLink="/users/{{ advert.freelancer.userName }}"
                class="link-dark text-decoration-none"
                aria-expanded="false"
              >
                <img
                  src="{{ advert.freelancer.imagePath }}"
                  alt="mdo"
                  width="40"
                  height="40"
                  style="margin-top: 15px"
                  class="rounded-circle"
                />
                {{ advert.freelancer.userName }}
              </a>
            </h6>
            <h6 class="card-subtitle text-muted">
              {{ advert.freelancer.appellation }}
            </h6>
          </div>
          <div class="ms-auto p-2 bd-highlight">
            <p class="price">
              {{ advert.price
              }}<span
                style="
                  font-size: 18px;
                  margin-left: 35px;
                  margin-top: 2px;
                  font-weight: 500;
                "
                >TL</span
              >
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item" style="margin-top: -19px">
        <a
          routerLink="/adverts/{{ advert.id }}"
          class="text-decoration-none"
          aria-expanded="false"
          ><h6 class="card-description card-text">{{ advert.title }}</h6></a
        >
      </li>
      <li class="list-group-item favorite">
        <p class="card-text">
          <app-favorite-add [advertId]="advert.id"></app-favorite-add>
        </p>
      </li>
    </ul>
  </div>
</div>
