<div class="row justify-content-md-center">
  <div class="col-xl-7">
    <div class="card shadow mt-5 mb-4">
      <div class="card-header">Şifre <b>Değiştir</b></div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6">
            <i
              class="bi-info-circle"
              style="font-size: 2rem; margin-left: 50px; color: #4b4f52"
              ><span style="font-size: 20px">Bazı <b>İpuçları</b></span></i
            >
            <div class="tip-list mb-5">
              <ul class="list-group">
                <li class="list-item">
                  Yeni şifren en az 8, en çok 20 karakter uzunluğunda olmalıdır.
                </li>
                <li class="list-item">
                  Başka web sitelerinde kullandığın parolaları tekrar
                  kullanmamaya özen göster.
                </li>
                <li class="list-item">
                  Adın ya da e-postan gibi belirgin sözcükleri tercih etmemeye
                  çalış.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-6">
            <form [formGroup]="changePasswordForm">
              <div class="row d-flex justify-content-center gx-3 mb-3">
                <div class="col-md-10">
                  <div class="input-group">
                    <input
                      class="input-group__input"
                      id="inputOldPassword"
                      type="password"
                      formControlName="oldPassword"
                      placeholder="&nbsp;"
                    />
                    <label class="input-group__label" for="inputOldPassword"
                      >Geçerli Şifren</label
                    >
                    <i
                      class="bi bi-x"
                      *ngIf="
                        changePasswordForm.controls['oldPassword']?.errors &&
                        changePasswordForm.controls['oldPassword']?.touched
                      "
                    ></i>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center gx-3 mb-3">
                <div class="col-md-10">
                  <div class="input-group">
                    <input
                      class="input-group__input"
                      id="inputNewPassword"
                      type="password"
                      formControlName="newPassword"
                      placeholder="&nbsp;"
                    />
                    <label class="input-group__label" for="inputNewPassword"
                      >Yeni Şifren</label
                    >
                    <i
                      class="bi bi-x"
                      *ngIf="
                        changePasswordForm.controls['newPassword']?.errors &&
                        changePasswordForm.controls['newPassword']?.touched
                      "
                    ></i>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center gx-3 mb-3">
                <div class="col-md-10">
                  <div class="input-group">
                    <input
                      class="input-group__input"
                      id="inputNewPasswordRepeat"
                      type="password"
                      formControlName="newPasswordRepeat"
                      placeholder="&nbsp;"
                    />
                    <label
                      class="input-group__label"
                      for="inputNewPasswordRepeat"
                      >Yeni Şifreni Tekrarla</label
                    >
                    <i
                      class="bi bi-x"
                      *ngIf="
                        changePasswordForm.controls['newPasswordRepeat']
                          ?.errors &&
                        changePasswordForm.controls['newPasswordRepeat']
                          ?.touched
                      "
                    ></i>
                  </div>
                </div>
              </div>
              <button
                class="btn btn-primary"
                type="button"
                [disabled]="!changePasswordForm.valid"
                (click)="update()"
              >
                Şifreyi Değiştir
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
