body {
  margin-top: 20px;
  background-color: #f2f6fc;
  color: #69707a;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  border-radius: 10px;
  border: none;
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  color: #fff;
  font-size: 24px;
  background-color: #e83c5f;
  border-radius: 10px;
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*  **************************************************************  */

.input-group {
  position: relative;
}
.input-group__label {
  display: block;
  position: absolute;
  top: 0;
  line-height: 40px;
  color: #aaa;
  left: 10px;
  padding: 0 5px;
  transition: line-height 200ms ease-in-out, font-size 200ms ease-in-out,
    top 200ms ease-in-out;
  pointer-events: none;
}
.input-group__input {
  width: 100%;
  height: 40px;
  margin-bottom: 2px;
  border: 1px solid #dddddd;
  border-radius: 10px !important;
  padding: 0 10px;
}
.input-group__input:not(:placeholder-shown) + label,
.input-group__input:focus + label {
  background-color: white;
  line-height: 10px;
  opacity: 1;
  font-size: 10px;
  font-size: 15px;
  top: -5px;
}
.input-group__input:not(:placeholder-shown) + label {
  background-color: white;
  line-height: 10px;
  opacity: 1;
  font-size: 10px;
  font-size: 15px;
  top: -5px;
}
.input-group__input:focus,
.input-group__input:not(:placeholder-shown) {
  outline: none;
  border: 1px solid #2d3640;
}
.input-group__input:focus + label,
.input-group__input:not(:placeholder-shown) + label {
  font-size: 15px;
  color: #201a3d;
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
  width: 100% !important;
  margin-bottom: 20px;
  display: block !important;
}

.btn-primary {
  background-color: #201a3d;
  border: none;
  border-radius: 10px;
}

.bi {
  padding-top: 3px;
  min-width: 50px;
  float: left;
  font-size: 1.5rem;
  position: absolute;
  right: -1rem;
}

.bi-x {
  color: #e83c5f;
}

.tip-list {
  background-color: #2d3640;
  min-height: 50%;
  border-radius: 10px;
  margin: auto;
  width: 75%;
  padding: 10px;
}

.list-item {
  background-color: #2d3640;
  border: none;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
}
