<div class="custom-container">
  <div class="container">
    <h1 class="title">{{ subCategoryName }}</h1>
    <div class="row gy-2 gx-3 align-items-center inputs">
      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingInput">Min. Fiyat</label>
        <input
          type="text"
          [(ngModel)]="filter.minPrice"
          (keydown.enter)="createFilter()"
          [ngModelOptions]="{ standalone: true }"
          class="form-control input"
          id="autoSizingInput"
          placeholder="Min. Fiyat"
        />
      </div>
      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingInput">Maks. Fiyat</label>
        <input
          type="text"
          (keydown.enter)="createFilter()"
          [(ngModel)]="filter.maxPrice"
          [ngModelOptions]="{ standalone: true }"
          class="form-control input"
          id="autoSizingInput"
          placeholder="Maks. Fiyat"
        />
      </div>
      <div class="col-auto">
        <button (click)="createFilter()" type="submit" class="btn btn-primary">
          Uygula
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- /*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/**/ -->
  <h6 class="advert-count text-muted">{{ adverts.length }} iş ilanı bulundu</h6>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" *ngIf="!dataLoaded">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div
    class="card shadow"
    style="width: 18rem"
    *ngFor="let advert of adverts; let index = index"
  >
    <img
      src="{{ advert.imagePath }}"
      height="175px"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
              <h6 class="card-title">
                <a
                  href="#"
                  class="d-block link-dark text-decoration-none"
                  aria-expanded="false"
                >
                  <img
                    src="https://github.com/mdo.png"
                    alt="mdo"
                    width="40"
                    height="40"
                    style="margin-top: 15px"
                    class="rounded-circle"
                  />
                  {{ advert.freelancer.userName }}
                </a>
              </h6>
              <h6 class="card-subtitle text-muted">
                {{ advert.freelancer.appellation }}
              </h6>
            </div>
            <div class="ms-auto p-2 bd-highlight">
              <p class="price">{{ advert.price }}TL</p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <h6 class="card-description card-text">{{ advert.title }}</h6>
        </li>
        <li class="list-group-item">
          <p class="card-text">
            <app-favorite-add [advertId]="advert.id"></app-favorite-add>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <!-- /*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/**/ -->
</div>
