<div class="custom-container">
  <div class="container">
    <h1 class="title">{{ subCategoryName }}</h1>
    <div class="row gy-2 gx-3 align-items-center inputs">
      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingInput">Min. Fiyat</label>
        <input
          type="text"
          [(ngModel)]="filter.minPrice"
          (keydown.enter)="createFilter()"
          [ngModelOptions]="{ standalone: true }"
          class="form-control input"
          id="autoSizingInput"
          placeholder="Min. Fiyat"
          autocomplete="off"
        />
      </div>
      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingInput">Maks. Fiyat</label>
        <input
          type="text"
          (keydown.enter)="createFilter()"
          [(ngModel)]="filter.maxPrice"
          [ngModelOptions]="{ standalone: true }"
          class="form-control input"
          id="autoSizingInput"
          placeholder="Maks. Fiyat"
          autocomplete="off"
        />
      </div>
      <div class="col-auto">
        <button (click)="createFilter()" type="submit" class="btn btn-primary">
          Uygula
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h6 class="advert-count text-muted">{{ totalAdverts }} iş ilanı bulundu</h6>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" *ngIf="!dataLoaded">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <app-product-card
    *ngFor="
      let advert of adverts
        | paginate
          : {
              itemsPerPage: 12,
              currentPage: filter.page,
              totalItems: totalAdverts
            }
    "
    [advert]="advert"
  ></app-product-card>
  <pagination-controls
    (pageChange)="pageChange($event)"
    previousLabel="Geri"
    nextLabel="İleri"
    class="my-pagination text-center"
    *ngIf="dataLoaded"
  ></pagination-controls>
</div>
