.title {
  font-size: 34px;
  font-weight: 800;
  margin-top: 40px;
  color: #2d3640;
}

.custom-container {
  border: solid;
  border-color: #fff;
  width: 100%;
  min-height: 125px;
  margin-bottom: 20px;
  background-color: #fff;
}

.overflow {
  position: relative;
  transition: left 0.5s ease-in-out;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.no-right-margin {
  margin-right: 0px;
}

.card span {
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left,
.right {
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left.disabled,
.right.disabled {
  width: 0px;
}

.left {
  left: 0;
  transform: translateX(-50%);
}

.right {
  right: 0;
  transform: translateX(50%);
}

.card-img-top {
  border-radius: 10px 10px 0px 0px;
}

.bi-arrow-right {
  margin: 0;
  position: absolute;
  top: 52%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bi-arrow-left {
  margin: 0;
  position: absolute;
  top: 52%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn-primary {
  background-color: #201a3d;
  color: #fff;
  border-color: #201a3d;
  border-radius: 10px;
}

.icon {
  font-size: 18px;
  text-decoration: none;
  color: #201a3d;
}

.icon:hover {
  text-decoration: none;
  color: #e83c5f;
}

.card-title {
  margin-left: -20px;
  width: 220px;
  color: #2d354a;
  font-size: 14px;
  margin-top: -30px;
  font-weight: bolder;
}

.card-subtitle {
  color: #8b95a1;
  font-size: 13px;
  font-weight: 300;
  margin-top: -28px;
  margin-left: 23px;
}

.sub-title {
  color: #8b95a1;
  font-size: 13px;
  font-weight: 300;
  margin-top: 43px;
  margin-left: -93px;
}

.price {
  color: #e83c5f;
  font-size: 22px;
  font-weight: bold;
  margin-top: -10px;
  margin-left: -50px;
  position: relative;
}

.card-description {
  min-height: 40px;
}

.advert-count {
  margin-top: 20px;
}
