<div class="carousel" #container>
  <div
    class="left"
    *ngIf="totalPages > 1 && currentPage != 0.9999999999999996"
    (click)="currentPage != 1 && changePage(-1 / 3)"
    [ngClass]="{ disabled: currentPage === 1 }"
  >
    <i
      class="bi bi-arrow-left"
      *ngIf="currentPage != 1"
      style="font-size: 2rem; color: #201a3d"
    ></i>
  </div>
  <div class="cards" [ngClass]="{ 'w-100': totalPages === 1 }">
    <h3 class="title">İlgi çekici <b>İlanlar</b></h3>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" *ngIf="!dataLoaded">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div
      class="overflow"
      [ngStyle]="{ width: overflowWidth, left: pagePosition }"
    >
      <!-- /*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*//*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/* -->
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let advert of mostPopularJobAdverts; let index = index"
        [ngStyle]="{ width: cardWidth }"
      >
        <img
          src="http://placehold.it/380?text={{ index }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex bd-highlight">
                <div class="p-2 bd-highlight">
                  <h6 class="card-title">
                    <a
                      href="#"
                      class="d-block link-dark text-decoration-none"
                      aria-expanded="false"
                    >
                      <img
                        src="https://github.com/mdo.png"
                        alt="mdo"
                        width="40"
                        height="40"
                        style="margin-top: 15px"
                        class="rounded-circle"
                      />
                      {{ advert.freelancer.userName }}
                    </a>
                  </h6>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ advert.freelancer.appellation }}
                  </h6>
                </div>
                <div class="ms-auto p-2 bd-highlight">
                  <p class="price">{{ advert.price }}TL</p>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <h6 class="card-text card-description">{{ advert.title }}</h6>
            </li>
            <li class="list-group-item">
              <p class="card-text">
                <a routerLink="" class="icon"
                  ><i
                    class="bi bi-plus-circle-fill"
                    style="font-size: 2rem; margin-right: 5px"
                  ></i
                  >Favorilere ekle</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- /*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*//*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/* -->
    </div>
  </div>
  <div
    class="right"
    *ngIf="totalPages > 1"
    (click)="currentPage != totalPages && changePage(+1 / 3)"
    [ngClass]="{ disabled: currentPage === totalPages }"
  >
    <i
      class="bi bi-arrow-right"
      *ngIf="currentPage != totalPages"
      style="font-size: 2rem; color: #201a3d"
    ></i>
  </div>
</div>
