/* .side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #201a3d;
  transition: 0.5s;
} */
.side-navbar {
  background-color: #201a3d;
  transition: 0.5s;
  min-height: 100vh;
  height: 100vh;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  cursor: pointer;
  background-color: #e83c5f;
}
.my-container {
  transition: 0.4s;
}
.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 180px;
}

.bi {
  font-size: 1.7rem;
  margin-left: 10px;
  margin-right: 5px;
}
