<div class="nav-side-menu">
  <div class="brand">
    <a class="navbar-brand" href="">
      <img
        src="../../../assets/images/logo-svg/koyu-zemin.svg"
        alt=""
        width="175"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>
  <i
    class="fa fa-bars fa-2x toggle-btn"
    data-toggle="collapse"
    data-target="#menu-content"
  ></i>

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li routerLink="advert/add" data-toggle="collapse" class="collapsed">
        <a><i class="bi bi-plus-circle"></i>İlan Ekle</a>
      </li>
      <li routerLink="my-adverts" data-toggle="collapse" class="collapsed">
        <a><i class="bi bi-card-list"></i>İlanlarım</a>
      </li>
      <li routerLink="advert/add" data-toggle="collapse" class="collapsed">
        <a><i class="bi bi-box-seam"></i>Siparişlerim</a>
      </li>
      <li routerLink="wallet" data-toggle="collapse" class="collapsed">
        <a><i class="bi bi-wallet2"></i>Cüzdanım</a>
      </li>
      <li routerLink="advert/add" data-toggle="collapse" class="collapsed">
        <a> <i class="bi bi-envelope"></i>Mesajlarım </a>
      </li>
    </ul>
  </div>
</div>
