<div class="container">
  <div class="link">
    <div class="text" routerLink="/">
      <i class="bi bi-house" style="font-size: 1.5rem; margin-right: 5px"></i
      >Freelancer Market
    </div>
  </div>
  <div class="link">
    <div class="text" routerLink="/orders">
      <i class="bi bi-basket" style="font-size: 1.5rem; margin-right: 5px"></i
      >Siparişlerim
    </div>
  </div>
  <div class="link">
    <div class="text" routerLink="/favorities">
      <i class="bi bi-heart" style="font-size: 1.5rem; margin-right: 5px"></i
      >Favorilerim
    </div>
  </div>
  <div class="link">
    <div class="text" routerLink="/wallet">
      <i class="bi bi-wallet2" style="font-size: 1.5rem; margin-right: 5px"></i
      >Cüzdanım
    </div>
  </div>
</div>
