.add-icon {
  font-size: 16px;
  text-decoration: none;
  color: #2d3640;
  cursor: pointer;
  display: flex;
  float: left;
}

.add-icon:hover {
  text-decoration: none;
  color: #e83c5f;
}

.delete-icon {
  font-size: 16px;
  text-decoration: none;
  color: #e83c5f;
  cursor: pointer;
  display: flex;
}

.text {
  margin-top: 9px;
}
