body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

.appellation {
  margin-top: 5px;
}

button {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #201a3d;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 1px;
  width: 100%;
  height: 40px;
  transition: 200ms background-color ease-in-out;
}
button:hover {
  background-color: #e83c5f;
}

.bi {
  font-size: 1.5rem;
  margin-right: 5px;
}

.about {
  margin-left: 15px;
  color: #2d3640;
}

.about-section {
  margin-left: 15px;
  margin-right: 15px;
  color: #8b95a1;
}

.skill {
  margin-left: 15px;
  color: #2d3640;
}

.skills-container {
  row-gap: 2rem;
  text-align: center;
}

.skills-data {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 12px 7px;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  border: 1px solid #8b95a1;
}

.skills-name {
  display: flex;
  align-items: center;
}

.services {
  margin-left: 15px;
  color: #2d3640;
  font-weight: 500;
}

.comments {
  margin-left: 15px;
  color: #2d3640;
}

.day-ago {
  margin-top: -32px;
  font-size: 15px;
  color: #5e6b79;
  font-weight: 500;
  margin-left: 5px;
}

.commenter {
  color: #4b4f52;
  font-weight: 500;
}

.comment-content {
  color: #8b95a1;
  float: left;
  margin-top: 10px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #e83c5f;
}

.paginator {
  bottom: 0px;
}
