<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card shadow">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="{{ freelancer.imagePath }}"
                alt="freelancer"
                class="rounded-circle"
                width="150"
                height="150"
              />
              <div class="mt-3">
                <h4>{{ freelancer.name }} {{ freelancer.surName }}</h4>
                <p class="text-secondary appellation mb-1">
                  {{ freelancer.appellation }}
                </p>
                <h6
                  class="text-muted text-center"
                  style="color: #ffbb00 !important"
                >
                  {{ freelancer.averageScore | number: "1.1-1" }}
                  <i class="bi bi-star-fill" style="font-size: 20px"></i>
                  <span style="color: #000 !important; font-weight: bold"
                    >({{ advertComments.length }})</span
                  >
                </h6>
                <button (click)="sendMessage(freelancer.userName)">
                  Mesaj Gönder
                </button>
              </div>
            </div>
            <div class="mt-3">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <i class="bi bi-arrow-repeat"></i>Tamamlanan Sipariş
                  </h6>
                  <span class="text-secondary">{{ orders.length }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <i class="bi bi-box-seam"></i>Son İş Teslimi
                  </h6>
                  <span class="text-secondary" *ngIf="orders[0]">{{
                    getLastCompletedOrderDate() | dateAgo
                  }}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <i class="bi bi-person-square"></i>Üyelik Tarihi
                  </h6>
                  <span class="text-secondary">{{
                    getCreatedDate(user.createdDate)
                  }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card shadow mt-4">
          <div class="card-body">
            <h5 class="about">
              <span style="color: #e83c5f">{{ freelancer.userName }}</span>
              Hakkında
            </h5>
            <div class="mt-3 about-section">
              <p>
                {{ freelancer.about }}
              </p>
            </div>
            <hr class="divider mt-4 mb-4" />
            <h5 class="skill">Uzman Olduğu Alanlar & Araçlar</h5>
            <div class="mt-4 about-section">
              <div class="skills-container bd-grid">
                <div>
                  <div class="skills-data">
                    <div class="skills-names">
                      <span class="skills-name">Yetenek 1</span>
                    </div>
                  </div>
                  <div class="skills-data">
                    <div class="skills-names">
                      <span class="skills-name">Yetenek 2</span>
                    </div>
                  </div>
                  <div class="skills-data">
                    <div class="skills-names">
                      <span class="skills-name">Yetenek 3</span>
                    </div>
                  </div>
                  <div class="skills-data">
                    <div class="skills-names">
                      <span class="skills-name">Yetenek 4</span>
                    </div>
                  </div>
                  <div class="skills-data">
                    <div class="skills-names">
                      <span class="skills-name">Yetenek 5</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card shadow mb-3">
          <div class="card-body">
            <h5 class="services mt-3">
              <span style="color: #e83c5f">{{ freelancer.userName }}</span>
              Kullanıcısının Verdiği Hizmetler
            </h5>
            <app-product-card
              *ngFor="let advert of adverts"
              [advert]="advert"
            ></app-product-card>
          </div>
        </div>
        <div class="card shadow mt-4 mb-3">
          <div class="card-body">
            <h4 class="comments mt-3">Tüm Değerlendirmeler</h4>
          </div>
          <div class="card-header mb-3" style="background-color: #f9fafb">
            <h6 class="mt-3 mb-3 text-center" style="font-size: 18px">
              Toplam
              <b style="font-size: 25px">{{ advertComments.length }}</b>
              değerlendirme
              <br />
              <span
                style="color: #ffbf00; font-weight: bolder; font-size: 40px"
              >
                {{ freelancer.averageScore | number: "1.1-1" }}</span
              ><i
                class="bi bi-star-fill"
                style="font-size: 40px; color: #ffbf00; margin-left: 5px"
              ></i>
            </h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="card" *ngFor="let advertComment of advertComments">
                <div
                  class="card-body"
                  style="
                    padding-top: 0.25rem !important;
                    padding-bottom: 0.25rem !important;
                  "
                >
                  <div class="d-flex flex-start">
                    <img
                      class="rounded-circle shadow-1-strong me-3"
                      src="{{ advertComment.user.imagePath }}"
                      alt="avatar"
                      width="54.65"
                      height="50"
                    />
                    <div class="w-100">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <h6 class="commenter fw-bold mb-0">
                          {{ advertComment.user.userName }}
                          <i class="bi bi-star-fill text-warning me-2"
                            ><span
                              style="font-style: normal; margin-left: 5px"
                              >{{ advertComment.score | number: "1.1-1" }}</span
                            ></i
                          >
                          <br />
                          <span class="comment-content">{{
                            advertComment.content
                          }}</span>
                        </h6>
                        <p class="day-ago mb-0">
                          {{ advertComment.date | dateAgo }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
